SELECT distinct(city)
FROM STATION
Where substr(city, 1, 1) NOT IN ('A','E','I','O','U');


SELECT distinct(city)
FROM STATION
Where (Not (city Like 'A%'  or city Like 'E%' or city Like 'I%' or city Like 'O%' or city Like 'U%'));

In [ ]:
SELECT distinct(city)
FROM station
WHERE substr(city,-1,1) NOT IN ('a','e','i','o','u');

### problem:
- Query the list of CITY names from STATION that either do not start with vowels or do not end with vowels. Your result cannot contain duplicates.

### solution:
```
SELECT distinct(city)
FROM station
WHERE (substr(lower(city),1,1) NOT IN ('a','e','i','o','u')) 
    OR (substr(lower(city),-1,1) NOT IN ('a','e','i','o','u')) ;
```

### problem:

- Query the Name of any student in STUDENTS who scored higher than  Marks. Order your output by the last three characters of each name. If two or more students both have names ending in the same last three characters (i.e.: Bobby, Robby, etc.), secondary sort them by ascending ID.

### solution:

```
SELECT name FROM students
WHERE marks > 75
order by substr(name,-3) ASC, id ASC;
```

In [ ]:
function getGrade(score) {
    let grade;
    // Write your code here
    if (score>25 && score <= 30 ){
        grade='A';
    }else if(score>20 && score <= 25){
        grade='B';
    }else if(score>15 && score <= 20){
        grade='C';
    }else if(score>10 && score <= 15){
        grade='D';
    }else if(score>5 && score <= 10){
        grade='E';
    }else{
        grade='F';
    }
    return grade;

In [ ]:
function getGrade(score) {
    let grade;
    // Write your code here
    return 'FEDCBA'[parseInt((score > 0 ? score - 1 : 0) / 5)];
}